.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Wrapper {
  width: 500px;
  padding: 20px;
  min-height: 700px;
  border: 1px solid gray;
}

.Title-box {
  text-align: center;
  color: blueviolet;
  border-bottom: 1px solid gray;
}